$bodyBG = #f0f3f7
$black = #333333
$gray = #999999
$theadbg = #FAFAFA
$blue = #027CFF
$orange = #F55B23
$red = #F12C20
$green = #67c23a
$borderColor = #E0E0E0
$blueHover = #0261c2
$minHeight = 800px
